.header{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border: 2px solid yellow;
}

.navbar{
    display: flex;
    height: 10vh;
}

.navbar1{
    border: 2px solid red;
}

.navbar3{
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    border: 2px solid gray;
}

.navbar2{
    width: 50%;
    gap: 1rem;
    font-size: 1.25rem;
    align-items: center;
    border: 2px solid green;
}

.linkContainer{
    border: 2px solid blue;
}