.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
}

.navbar1{
  border-bottom: 1px solid #e0e0e0;
}

.navbar2 {
  width: 100%;
  gap: 1rem;
  font-size: 1.25rem;
  justify-content: flex-end;
  border-right: 1rem solid transparent;
}

.navbar3 {
  gap: 1rem;
  font-size: 1.5rem;
}

.navbar header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-left: 1rem solid transparent;
}

.linkContainer a {
  text-decoration: none;
}

.navbar header h1 a {
  font-size: 2rem;
  color: #32465f;
}

/* .navbar3 > :first-child a {
  color: #2c57af;
}

.navbar3 > :nth-child(2) a {
  color: #7a7d85;
} */

.navbar2 a{
  color: #7a7d85;
}

.mobile{
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    height: 8vh;
  }

  .navbar header h1 a {
    font-size: 1.5rem;
  }

  .navbar2 {
    display: none;
  }

  .navbar3 {
    font-size: 1.25rem;
  }


}